<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <section name="DevExpressXpoProfiler" type="DevExpress.Xpo.Logger.ProfilerConfigSection, DevExpress.Data.v12.2, Version=12.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <DevExpressXpoProfiler serverType="DevExpress.Xpo.Logger.Transport.LogServer" serverAssembly="DevExpress.Xpo.v12.2, Version=12.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" categories="SQL;Session;DataCache" port="52934" />-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <!--<appSettings>
    <add key="URLText" value="www.chista.ir" />
    <add key="URLLink" value="http://www.chista.ir" />
    <add key="Email" value="support@chista.ir" />
    <add key="Phone" value="09126968331" />
    
  </appSettings>-->
  </configuration>