<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IProtocolCore">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IProtocolMembership">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IProtocolMessagingServer">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IProtocolVoiceRecord" transferMode="Streamed">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IProtocolPhoneMonitoring">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:19000/Core" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProtocolCore" contract="ProxyCore.IProtocolCore"
                name="NetTcpBinding_IProtocolCore" />
            <endpoint address="net.tcp://localhost:19000/Membership" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProtocolMembership" contract="ProxyMembership.IProtocolMembership"
                name="NetTcpBinding_IProtocolMembership" />
            <endpoint address="net.tcp://localhost:19001/VoiceRecord" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProtocolVoiceRecord"
                contract="ProxyVoiceRecord.IProtocolVoiceRecord" name="NetTcpBinding_IProtocolVoiceRecord" />
            <endpoint address="net.tcp://localhost:19001/Messaging" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProtocolMessagingServer"
                contract="ProxyMessaging.IProtocolMessagingServer" name="NetTcpBinding_IProtocolMessagingServer" />
            <endpoint address="net.tcp://localhost:19001/PhoneMonitoring"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProtocolPhoneMonitoring"
                contract="ProxyPhoneMonitoring.IProtocolPhoneMonitoring" name="NetTcpBinding_IProtocolPhoneMonitoring" />
        </client>
    </system.serviceModel>
</configuration>